* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background: #f7f9fc;
  background-image: url(pc1.jpg);
  display: flow-root;
  color: #333;
}

header {
  background: #0077cc;
  color: white;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  background: #e6f2ff;
  padding: 50px;
  text-align: center;
}

.overview {
  padding: 20px;
  text-align: center;
}

footer {
  background: #0077cc;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}
